
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AcademicBlog</title>
    <link rel="icon" href="~/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AcademicBlog.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" />
</head>
<body class="text-gray-800 antialiased dark:bg-black dark:text-gray-400" cz-shortcut-listen="true">
    @RenderBody()
</body>
</html>

